:root{
--WH:175px;

}
.Grid {
    display: grid;

}

.Grid * {
    background: bisque;
color: white;

}

.rebeccapurple-Item{
    background: rebeccapurple;
}

.darkgreen-Item{
    background: darkgreen;
}

.darkred-Item{
    background: darkred;
}

.limegreen-Item{
    background: limegreen;
}

.indianred-Item{
    background: indianred;
}

.darkorange-Item{
    background: darkorange;
}

.orange-Item{
    background: orange;
}

.Gap{
    gap: 10px;
}

.Grid-Column8{
    grid-template-columns:repeat(7,var(--WH));

}
.Grid-Row6{
    grid-template-rows: repeat(6,var(--WH));

}

.menu{
    background: darkgreen;
}

.Grid-Column-Span-any{
    grid-column: 1 / span end  ;

}

.Grid-Column-Span2{
grid-column: span 2;
}

.Grid-Row-Span2{
    grid-row: span 2;
}

.Grid-Column-Span3{
    grid-column: span 3;
}

.Grid-Row-Span3{
    grid-row: span 3;
}